html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #cacaca;
  font-weight: 400;
}
a {
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
  position: relative;
}
a:not(.img-link)::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  transition: 0.5s;
}
a:hover::after {
  width: 100%;
  transition: 0.5s;
}
.visualy-hidden {
  position: absolute;
  visibility: hidden;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
main {
  background-color: #4f4f4f;
  padding-bottom: 25px;
  background-image: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.page-header,
.page-footer {
  padding: 20px 0;
  background-color:#cacaca;
}
.header-navigation,
.copyright {
  display: flex;
  justify-content: space-between;
}
.header-navigation-list,
.contacts-list,
.copyright {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.header-navigation-list {

  justify-content: space-between;
}
.header-navigation-item,
.contacts-list-item,
.copyright-item {
  padding: 0;
  margin: 0;
  color: black;
}
.copyright-item {
  font-size: small;
}
.contacts-list-item:last-child {
  margin-right: 0;
}
.page-header a,
.copyright-item a {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
}
.page-header a::after,
.copyright-item a::after {
  background-color: black;
}
.translate-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 10px;
  margin-top: 7px;
}
.eng-btn, .pl-btn {
  width: 32px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 5px;
  opacity: 0.5;
}
.eng-btn:not(.lang-active):hover, .pl-btn:not(.lang-active):hover {
  opacity: 1;
  transform: scale(1.1);
}
.eng-btn {
  background-image: url(images/eng.svg);
}
.pl-btn {
  background-image: url(images/pln.svg);
}
.lang-active {
  opacity: 1;
}
.grid-wrapper {
  border-bottom: 1px solid #d3d1d1;
  padding-bottom: 25px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 'text img';
  position: relative;
}
.main-title {
  margin: 0;
  padding: 0;
  align-self: flex-start;
}
.main-text {
  grid-area: text;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-text-item {
  margin-bottom: 5px;
}
.cv-avatar {
  grid-area: img;
  border-radius: 15% 0;
  box-shadow: 0 0 5px 2px #cacaca;
  justify-self: end;
  height: 350px;
  object-fit: cover;
  object-position: center -50px;
}
.skills .grid-wrapper {
  grid-template-columns: 54% 46%;
  grid-template-rows: 30px 1fr;
  grid-template-areas:
    'title title2'
    'text text2';
}
.title {
  grid-area: title;
  margin: 0;
  padding: 0;
}
.skills-list {
  grid-area: text;
  margin: 0;
}
.title:nth-child(3) {
  grid-area: title2;
}
.skills-list:last-child {
  grid-area: text2;
}
.education .container {
  padding: 25px 0;
  border-bottom: 1px solid #d3d1d1;
}
.education-container {
  display: flex;
}
.works {
  padding-top: 25px;
  
}
.works .container {
  border-bottom: 1px solid #d3d1d1;
}
.works-list, .other-works-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.other-works-list .works-item:first-child {
  margin-top: 0;
}
.other-works-list .works-item::before, 
.other-works-list .works-item::after,
.other-works-list .works-item:last-child::after {
  display: none;
}
.other-works-list .work-item-title p {
  margin-top: 0;
}
.works-item {
  transform: translateX(20%) scale(0.9);
  opacity: 0;
  transition: all 1s;
  position: relative;
  padding-bottom: 1px;
}
.works-item::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: calc(50% - 150px);
  width: 300px;
  height: 1px;
  background:#d3d1d1;
}
.works-item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 150px);
  width: 300px;
  height: 1px;
  background:#d3d1d1;
}
.skills-item,
.education-item,
.works-item {
  margin-top: 12px;
}
.education-item a,
.works-item a {
  color: goldenrod;
  text-decoration: none;
}
.education-item a::after,
.works-item a::after {
  background-color: goldenrod;
}
.work-item-title {
  margin-bottom: 10px;
}
.work-item-title p {
  line-height: normal;
}
.figure-field {
  margin: 0;
  padding: 0;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}
.img-block {
  position: relative;
}
.second-pic .img-block {
  align-self: flex-end;
}
.fourth-pic .img-block {
  align-self: flex-start;
  width: calc(50% - 2.5px);
}
.img-block img {
  height: 100%;
}
.return {
  position: fixed;
  right: 100px;
  bottom: 80px;
  width: 50px;
  height: 50px;
  background-image: url('images/up.svg');
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}
.burger {
  display: none;
}
input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
}
iframe {
  border: none;
}
.menu-off {
  display: none;
}
.active-item {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.download-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  color: white !important;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  transition: opacity 0.5s;
}
.download-btn:hover {
  opacity: 0.8;
}
.download-btn:hover::after {
  display: none;
}
.download-btn.download-cv {
  position: static;
  margin: 0;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 18px !important;
  color:#4f4f4f !important;
  background: #cacaca;
  min-height: 30px;
  vertical-align: middle;
  padding: 11px;
}
.download-btn.download-cv::after {
  display: none;
}
.links-container {
  display: flex;
  gap: 15px;
}
.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.instagram {
  background-image: url(images/inst.png);
}
.artstation {
  background-image: url(images/artstation.svg);
}
.linkedin {
  background-image: url(images/linked.png);
}

@media (max-width: 960px) {
  section,
  .page-header,
  .page-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .page-header {
    padding-right: 45px;
  }
  .main-text {
    font-size: 14px;
  }
  .burger {
    display: block;
    background: black;
    width: 30px;
    height: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 27px;
    transition: 0.5s;
  }
  .burger::before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background: black;
    top: -10px;
    transition: 0.5s;
  }
  .burger::after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    background: black;
    top: 10px;
    transition: 0.5s;
  }
  .header-navigation-list {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 20px;
    z-index: 5;
    background-color: #dfdfdf;
    width: 150px;
    top: 0;
    left: -150px;
    opacity: 0;
    transition: 0.5s;
    border-radius: 0 0 10px 0;
  }
  #menu-on:checked ~ .header-navigation-list {
    visibility: visible;
    opacity: 1;
    left: 0;
    transition: 0.5s;
  }
  #menu-on:checked ~ .burger {
    background-color: #cacaca;
    transition: 0.5s;
  }
  #menu-on:checked ~ .burger::before {
    transform: rotate(360deg) translateY(10px) rotate(45deg);
    transition: 0.5s;
  }
  #menu-on:checked ~ .burger::after {
    transform: rotate(360deg) translateY(-10px) rotate(-45deg);
    transition: 0.5s;
  }
  .header-navigation-item {
    margin-bottom: 20px;
  }
  .menu-off {
    display: block;
    width: 75px;
    height: 5px;
    background: #4f4f4f;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
  }
  .menu-off::before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 5px;
    background: #4f4f4f;
    transform: rotate(45deg);
    top: 5px;
    left: -2px;
  }
  .menu-off::after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 5px;
    background: #4f4f4f;
    transform: rotate(-45deg);
    top: -4px;
    left: -2px;
  }
}
@media (max-width: 700px) {
  .title, .main-title {
    text-align: center;
    align-self: center;
  }
  .main-text {
    align-items: center;
  }
  .works-list, .other-works-list {
    padding-left: 10px;
    list-style: none;
    text-align: center;
  }
  .figure-field img {
    width: 100%;
  }
  .return {
    right: 80px;
  }
  .fourth-pic .img-block {
    width: calc(100%);
  }
}
@media (max-width: 640px) {
  .main-title,
  .title {
    font-size: 1em;
  }
  .main-title {
    text-align: center;
    margin-top: 10px;
  }
  .cv-avatar {
    object-position: top;
    height: 80vw;
    width: 60vw;
  }
  .return {
    width: 30px;
    height: 30px;
    right: 60px;
  }
  .main-text {
    order: 2;
  }
  .main-info .grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills .grid-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
      'title2'
      'text2'
      'title'
      'text';
  }
  #skillsTitle {
    margin: 10px 0 0 0;
  }
  .contacts-list-item {
    margin-bottom: 5px;
  }
  .download-btn {
    font-size: 10px;
    line-height: 10px;
    padding: 8px;
    margin: 10px;
  }
}
@media (max-width: 400px) {
  .page-header {
    padding-right: 10px;
  }
  .main-text {
    line-height: 14px;
  }
  .return {
    right: 15px;
  }
  .education-container {
    display: block;
  }
}
